html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url(/images/bg-pattern-top-mobile.svg), url(/images/bg-pattern-bottom-mobile.svg);
    background-position: top, bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 5rem 1.5rem 6.25rem 1.5rem;
    padding: 0;
    font-family: "Spartan", sans-serif;
    font-weight: $regular;
    font-size: 0.9375rem;

    @include breakpoint-up(medium) {
        background-image: url(/images/bg-pattern-top-desktop.svg), url(/images/bg-pattern-bottom-desktop.svg);
    }

    @include breakpoint-up(large) {
        background-position: bottom 10.125rem right 23.75rem, top 6.25rem left 6.25rem;
        margin-top: 7.9375rem;
    }
}
main {
    max-width: 33.75rem;
    width: 100%;
    @include breakpoint-up(large) {
        max-width: 69.375rem;
    }
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

@include breakpoint-up(large) {
    .desktop-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4.5rem;
    }
}
