.testimonies {
    &__card {
        background-color: $veryDarkMagenta;
        padding: 40px 32px 32px 32px;
        border-radius: 8px;
        margin-bottom: 16px;
        // opacity: 0;
    }

    &__header {
        margin-bottom: 26px;
        display: flex;
        align-items: center;
    }

    &__img {
        height: 40px;
        border-radius: 50%;
        margin-right: 23px;
    }

    &__name {
        color: $white;
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 5px;
    }

    &__title {
        color: $softPink;
        font-size: 13px;
        line-height: 15px;
    }
    &__text {
        color: $white;
        font-weight: $medium;
        font-size: 13px;
        line-height: 22px;
        letter-spacing: -0.26px;
    }
}
